@page "/"
@using PizzaPlace.Shared

<!-- Menu -->
<h1>Our selection of pizzas</h1>
@foreach (var pizza in Estados.Menu.Pizzas)
{
	<div class="row">
		<div class="col">
			@pizza.Nombre
		</div>
		<div class="col text-right">
			@($"{pizza.Precio:0.00}")
		</div>
		<div class="col"></div>
		<div class="col">
			<img src="@SpicinessImage(pizza.Picante)"
				 alt="@pizza.Picante" />
		</div>
		<div class="col">
			<button class="btn btn-success pl-4 pr-4"
				@onclick="@(() => AddToBasket(pizza))">
				Add
			</button>
		</div>
	</div>
}

<!-- End menu -->
<!-- Shopping Basket -->
@if (Estados.Cestas.Pedidos.Any())
{
	<h1 class="">Your current order</h1>
	@foreach (var (pizza, pos) in Estados.Cestas.Pedidos.Select((id, pos) => (Estados.Menu.GetPizza(id), pos)))
	{
		<div class="row mb-2">
			<div class="col">
				@pizza.Nombre
			</div>
			<div class="col text-right">
				@(
					$"{pizza.Precio:0.00}"
					)
			</div>
			<div class="col"></div>
			<div class="col"></div>
			<div class="col">
				<button class="btn btn-danger"
				@onclick="@(() => RemoveFromBasket(pos))">
					Remove
				</button>
			</div>
		</div>
	}
	<div class="row">
		<div class="col"></div>
		<div class="col"><hr /></div>
		<div class="col"> </div>
		<div class="col"> </div>
	</div>

	<div class="row">
		<div class="col"> Total:</div>
		<div class="col text-right font-weight-bold"> @($"{Estados.PrecioTotal:0.00}") </div>
		<div class="col"> </div>
		<div class="col"> </div>
		<div class="col"> </div>
	</div>
}

<!-- End shopping basket -->
<!-- Customer entry -->
<h1>Please enter your details below</h1>
<fieldset>
	<div class="row mb-2">
		<label class="col-2" for="name">Name:</label>
		<input class="col-6" id="name"
			   @bind="Estados.Cestas.Clientes.Nombre" />
	</div>
	<div class="row mb-2">
		<label class="col-2" for="street">Street:</label>
		<input class="col-6" id="street"
			   @bind="Estados.Cestas.Clientes.Calle" />
	</div>
	<div class="row mb-2">
		<label class="col-2" for="city">City:</label>
		<input class="col-6" id="city"
			   @bind="Estados.Cestas.Clientes.Ciudad" />
	</div>
	<button @onclick="RealizarPedidos">Checkout</button>
</fieldset>
<!-- End customer entry -->

@code {
	private Estados Estados { get; } = new Estados();

	protected override void OnInitialized()
	{
		Estados.Menu.Add(new Pizzas(1, "Pepperoni", 8.99M, Picantes.Picante));

		Estados.Menu.Add(new Pizzas(2, "Margarita", 7.99M, Picantes.Nada));

		Estados.Menu.Add(new Pizzas(3, "Diabolo", 9.99M, Picantes.Caliente));
	}
	private string SpicinessImage(Picantes picante)
	=> $"images/{picante.ToString().ToLower()}.png";

	private void AddToBasket(Pizzas pizza)
	=> Estados.Cestas.Add(pizza.Id);

	private void RemoveFromBasket(int pos)
	=> Estados.Cestas.RemoveAt(pos);

	private void RealizarPedidos()
	{
		Console.WriteLine("Realizar pedido");
	}
}
